/* button css */
.btn {
  color: #fff;
  padding: 0 35px;
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  font-weight: 700;
}

.daftar {
  background-color: #2f8be1;
  border-radius: 20px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.daftar:hover {
  background-color: purple;
  transform: scale(1.05);
}

.login {
  border: 1px solid #2f8be1;
  border-radius: 20px;
  margin-left: 10px;
  color: #2f8be1;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.login:hover {
  background-color: #2f8be1;
  color: #fff;
  transform: scale(1.05);
}

/* button tryout online section */
.btn-tryout {
  background-color: #2f8be1;
  width: 150px;
}

.btn-tryout:hover {
  background-color: #1e82e0;
}

.btn-tryout a {
  color: #fff;
  font-size: 14px;
  line-height: 38px;
  font-weight: 400;
}
