/* footer section */
footer {
  background-color: #f3f9ff;
  color: #666;
  padding: 10px 40px;
  height: 250px;
  flex: 1;
}

.footer-left {
  float: left;
}

.footer-left h4 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  margin-top: 70px;
}

.footer-left .logo {
  float: left;
  margin-top: 40px;
  margin-right: 20px;
  width: 100px;
  height: 100px;
}

.footer-right {
  float: right;
}

.footer-right li {
  font-size: 16px;
  line-height: 10px;
  font-weight: 500;
  margin-top: 20px;
}

.footer-right .subtitle {
  font-size: 24px;
  font-weight: 700;
  color: #245681;
  padding-top: 20px;
}

.fa {
  font-size: 24px;
  padding-right: 10px;
}
